body {
    width: 80%;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    background-image: url('../images/background.png');
}

div.toolbar {
    display: inline;
    width: 100%;
    text-align: start;
}

#homepage-icon {
    width: 30%;
    margin-right: 0.5rem;
}

@media screen and (max-width: 650px) {
    #choose-lang {
        width: 40%;
    }
}

@media screen and (min-width: 650px) {
    #choose-lang {
        width: 20%;
    }
}